
.runningtruck { 
    margin-top: 5rem;
    font-size: 5rem;
    animation: bounce 10s infinite linear;
 }

@keyframes bounce {
    0% {
        transform: translateX(-10vw) 
    }
    100% {
        transform: translateX(100vw) 
    }
}  